@font-face {
  font-family: Gantari;
  src: url(Gantari-VariableFont_wght.ttf);
}

:root {
  font-family: Gantari;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #68acc9;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #68acc9);
}

.card {
  padding: 2em;
}


button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2b2a2a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  width: 175px;
}

button:hover {
  border-color: #68acc9;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-details-show {
  display: "";
}

.logo {
  width: 150px;
  height: 150px;
}

#auth-section {
  margin: 20px;
}

input[type=submit] {
  font-family: 'Gantari';
  font-size: 1rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#work-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#response-area {
  /* background-color: rgb(77, 79, 78); */
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column; 
}

#request-input {
  width: 750px;
  height: 35px;
}

#request-btn {
  height: 39px;
}

/* #action-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */